body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;


}
.login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    font-family: “微軟正黑體”, sans-serif;
    border-radius: 10px;
    padding: 30px;
    width: 25%
}
.login i {
    font-size: 90px;
    margin: 20px auto;
}
input[type=”text”], input[type=”password’] {
    font-size: 14px;
    font-family: “微軟正黑體”, sans-serif;
padding: 5px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: 100%;
}
button {
    border: 0;
    padding: 4px 8px;
    margin: 20px auto;
    font-family: “微軟正黑體”, sans-serif;
    background:#fff

}

